{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ url('users_list') }}">List</a>

    <form action="{{ url('users_add') }}" method="post" enctype="multipart/form-data">
        Name : <input name="name"><br>
        Username :<input name="username"><br>
        Password : <input name="new_password"><br>
        Confirm Password : <input name="confirm_password"><br>
        Role : <select name="role">
            <option value="">Select Role</option>
            {% for role in roles %}
            <option value="{{ role.id }}">{{ role.name }}</option>
            {% endfor %}
        </select><br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}

{% block stylesheets %}

{% endblock %}
